@media screen and (max-width:1000px) {
  .create_title {
    font-size: 35px;
  }
  .create_text {
    padding-bottom: 50px;
  }
}
@media screen and (max-width:900px) {
  .cover_title {
    font-size: 35px;
  }
  .cover_text {
    padding-bottom: 50px;
    font-size: 18px;
  }
}
@media screen and (max-width:800px) {
  .fa-user-tie {
    font-size: 130px;
  }
  .fa-comment-dots {
    font-size: 70px;
  }
  .fa-laptop-code {
    font-size: 90px;
  }
  .fa-file {
    font-size: 90px;
  }
  .create_title {
    font-size: 30px;
  }
  .create_text {
    padding-bottom: 30px;
    font-size: 18px;
  }
  .cover_code {
    padding: 20px;
  }
  .profile_item_wrap {
    flex-direction: column;
  }
  .profile_item {
    width: 300px;
  }
  .profile_item::before {
    transform: rotate(0deg);
    border-radius: 10px;
    width: 300px;
  }
  .profile_item::after {
    transform: rotate(0deg);
    opacity: 0;
  }
  .text_title {
    font-size: 22px;
  }
  .profile_item p {
    font-size: 18px;
  }
  .btn_wrap {
    width: 70%;
  }
  .main_logo {
    font-size: 32px;
    letter-spacing: 5px;
  }
  .profile_item_wrap {
    width: 100%;
  }
  .profile_item {
    width: 200px;
  }
  .profile_item::before {
    width: 200px;
  }
  .text_title {
    font-size: 20px;
  }
  .profile_item p {
    font-size: 18px;
  }
}
@media screen and (max-width:500px) {
  .top_title {
    width: 200px;
    height: 200px;
    line-height: 200px;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
  }
  .main_logo {
    font-size: 28px;
    letter-spacing: 5px;
  }
  .top_right_text {
    width: 100px;
    height: 50px;
    bottom: calc(15% - 25px);
    right: calc(50% - 50px);
    font-size: 16px;
  }
  .top_left_text {
    width: 130px;
    height: 50px;
    bottom: calc(15% - 25px);
    right: calc(50% - 65px);
    font-size: 16px;
  }
  .space {
    height: 150px;
  }
  .fa-user-tie {
    font-size: 90px;
  }
  .fa-comment-dots {
    font-size: 50px;
  }
  .profile_item {
    width: 150px;
    height: 150px;
  }
  .p_logo {
    font-size: 22px;
  }
  .top_left:hover .top_left_text {
    transform: translateY(-30px);
    font-size: 16px;
  }
  .top_right:hover .top_right_text {
    transform: translateY(-30px);
    font-size: 16px;
  }
  .profile_item::before {
    width: 150px;
    height: 150px;
  }
  .profile_item p {
    font-size: 16px;
  }
  .fa-laptop-code {
    font-size: 60px;
  }
  .fa-file {
    font-size: 60px;
  }
  .w_logo {
    font-size: 22px;
  }
  .bono_cover {
    opacity: 1;
  }
  .create_title {
    font-size: 22px;
  }
  .cover_item {
    padding-top: 2%;
    transform: translate(0px) rotate(0deg);
  }
  .cover_code {
    font-size: 16px;
  }
  .create_text {
    font-size: 18px;
  }
  .btn_wrap {
    flex-direction: column;
  }
  .btn_wrap {
    width: 90%;
  }
  .git_btn , .cover_btn {
    border-radius: 10px;
    font-size: 16px;
    padding: 2px 0;
    margin: 5px 0 0 0;
  }
  .study_item {
    justify-content: center;
  }
  .quiz_item , .todo_item{
    width: 100%;
    justify-content: baseline;
  }
}