.back_img {
  background-image: url(../img/back_img.png);
  opacity: 0.8;
  height: 100vh;
  background-size: cover;
  position: absolute;
  width: 100%;
  z-index: -100;

}
.top_content {
  width: 100%;
  height: 780px;
  background-size: cover;
}
.top_wrap {
  width: 100%;
  display: flex;
  height: 780px;
}
.top_left {
  flex: 5;
  position: relative;
  background-color: #E2EBED;
  transition: 2.2s;
  cursor: pointer;
  transform: translateX(-100%);
  opacity: 0.9;
}
.top_left.left_fadein {
  transform: translateX(0);
}
.top_left:hover {
  background-color: #4682b4;
}
.top_left:hover .top_left_text {
  transform: translateY(-10px);
  font-size: 20px;
}
.top_right {
  flex: 5;
  position: relative;
  background-color: #F1E9E5;
  cursor: pointer;
  transition: 2.2s;
  transform: translateX(100%);
  opacity: 0.9;
}
.top_right.right_fadein {
  transform: translateX(0);
}
.top_right:hover {
  background-color: #ff7f50;
}
.top_right:hover .top_right_text {
  transform: translateY(-10px);
  font-size: 20px;
}
.top_title {
  width: 300px;
  height: 300px;
  position: absolute;
  text-align: center;
  line-height: 300px;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 100;
  display: inline-block;
}

@keyframes logo_color {
  0%,100% { color: #ff4500; }
  25% { color: #ffa500; }
  75% { color: #da70d6; }
}
.main_logo {
  width: 100%;
  text-align: center;
  font-size: 40px;
  letter-spacing: 3px;
  font-weight: bold;
}
.text-move {
  display: inline-block;
  opacity: 0;
  transform: translateY(1.1em) translateX(0.55em) rotateZ(180deg);
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  will-change: transform;
  animation: logo_color 5s infinite;
}
.text-move:nth-child(1) {
  transition-delay: 0s;
}
.text-move:nth-child(2) {
  transition-delay: 0.1s;
}
.text-move:nth-child(3) {
  transition-delay: 0.2s;
}
.text-move:nth-child(4) {
  transition-delay: 0.3s;
}
.text-move:nth-child(5) {
  transition-delay: 0.4s;
}
.text-move:nth-child(6) {
  transition-delay: 0.5s;
}
.text-move:nth-child(7) {
  transition-delay: 0.6s;
}
.text-move:nth-child(8) {
  transition-delay: 0.7s;
}
.text-move:nth-child(9) {
  transition-delay: 0.8s;
}
.text-move:nth-child(10) {
  transition-delay: 0.9s;
}

.main_logo.active .text-move {
  opacity: 1;
  transform: translateY(0em) translateX(0em) rotateZ(0deg);
}
.name {
  position: absolute;
  top: 50px;
  width: 100%;
  text-align: center;
}
.name p {
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #808080;
}
.taiki {
  transform: translateX(-100%);
  transition: 0.8s;
}
.tominari {
  transform: translateX(100%);
  transition: 0.8s;
}
.taiki.taiki_fadein {
  transform: translateX(0);
}
.tominari.tominari_fadein {
  transform: translateX(0);
}
.top_left_text {
  width: 200px;
  height: 50px;
  letter-spacing: 3px;
  text-align: center;
  position: absolute;
  bottom: calc(15% - 25px);
  right: calc(50% - 100px);
  color: #000;
  transition: 1s;
}
.top_right_text {
  width: 200px;
  height: 50px;
  letter-spacing: 3px;
  text-align: center;
  position: absolute;
  bottom: calc(15% - 25px);
  right: calc(50% - 100px);
  color: #000;
  transition: 1s;
}

/* profile_space */
.space {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-question,.fa-user-tie{
  flex: 5;
  font-size: 180px;
  transition: 1.5s;
  opacity: 0;
}
.fa-question {
  text-align: right;
  font-size: 80px;
  color: #ff7f50;
  transform: translateX(-100%) rotate(90deg);
}
.fa-question.question_active {
  transform: translateX(0) rotate(0deg);
  opacity: 1;
}
.fa-user-tie {
  color: #4682b4;
  transform: translateX(100%) rotate(-90deg);
}
.fa-user-tie.user_active {
  transform: translateX(0) rotate(0deg);
  opacity: 1;
}

/* profile */
#profile{
  padding-bottom: 80px;
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
  align-items: center;
}
.backgroud_wrap {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: -1;
}
.profile_left{
  flex: 5;
  background-color: #E2EBED;
}
.profile_right{
  flex: 5;
  background-color: #F1E9E5;
}
.profile_logo {
  width: 100%;
  margin-left: 10%;
  font-size: 30px;
  padding: 30px 0;
  display: flex;
}
.logo {
  opacity: 0;
  letter-spacing: 3px;
}
.logo span {
  opacity: 0;
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
}

.profile_item_wrap {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
}
.profile_item {
  width: 170px;
  height: 170px;
  position: relative;
  z-index: 20;
  opacity: 0;
  transition: 1.2s;
  transform: translate(800px, 0px) rotate(180deg);
}
.profile_item.item_active {
  opacity: 1;
  transform: translate(0px) rotate(0deg);
}
.profile_item::before {
  content: "";
  width: 170px;
  height: 170px;
  transform: rotate(45deg);
  border: 1px solid #000;
  background-color: #fff;
  position: absolute;
}
.profile_item::after {
  content: "";
  width: 170px;
  height: 170px;
  transform: rotate(45deg);
  background-color: #a9a9a9;
  position: absolute;
  right: -12px;
  z-index: -1;
  transition: 1.5s;
}
.profile_text {
  width: 100%;
  height: 100px;
  text-align: center;
  position: absolute;
  top: calc(50% - 50px);
}
.text_title {
  margin-bottom: 15px;
}
.profile_item p {
  padding-bottom: 10px;
}
.fa-heart {
  color:#dc143c;
}
.fa-image-portrait {
  color: #00bfff;
}
.fa-pencil {
  color: #228b22;
}

/* work_space */
.fa-laptop-code {
  font-size: 120px;
  opacity: 0;
  transform: translateY(150px) rotate(180deg);
  transition: 1s;
  color: #ff7f50;
  padding-left: 30px;
}
.fa-laptop-code.code_active {
  transform: translateY(0) rotate(0deg);
  opacity: 1;
}
.fa-file {
  font-size: 120px;
  opacity: 0;
  transform: translateY(-150px) rotate(180deg);
  transition: 1s;
  color: #4682b4;
  padding-right: 30px;
}
.fa-file.file_active {
  transform: translateY(0) rotate(0deg);
  opacity: 1;
}
/* work */
#work {
 height: 800px; /*とりあえず指定 */
 background-color: #F1E9E5;
}
