.top_content {
  background-image: url(../img/watercolour-4117017__480.webp);
  width: 100%;
  height: 780px;
  background-size: cover;
}
.top_wrap {
  width: 100%;
  display: flex;
  height: 780px;
}
.top_left {
  flex: 5;
  position: relative;
  background-color: #E2EBED;
  transition: 1s;
  cursor: pointer;
}
.top_left:hover {
  /* background-color: #4682b4; */
  background-color: #4169e1;
}
.top_left:hover .top_left_text {
  transform: translateY(-10px);
  font-size: 20px;
}
.top_right {
  flex: 5;
  position: relative;
  background-color: #F1E9E5;
  cursor: pointer;
  transition: 1s;
}
.top_right:hover {
  background-color: #cd5c5c;
}
.top_right:hover .top_right_text {
  transform: translateY(-10px);
  font-size: 20px;
}
.main_logo {
  width: 300px;
  height: 300px;
  position: absolute;
  text-align: center;
  line-height: 300px;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  background-color: #fff;
  z-index: 100;

}
.main_logo h1 {
  font-size: 25px;
  letter-spacing: 8px;
  font-weight: lighter;
  color: #808080;
  animation: logo_color 5s infinite;
}
@keyframes logo_color {
  0%,100% { color: #ff4500; }
  25% { color: #ffa500; }
  75% { color: #da70d6; }
}
.name {
  position: absolute;
  top: 70px;
  width: 100%;
  text-align: center;
}
.name p {
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 5px;
}
.top_left_text {
  width: 200px;
  height: 50px;
  letter-spacing: 3px;
  text-align: center;
  position: absolute;
  bottom: calc(15% - 25px);
  right: calc(50% - 100px);
  color: #000;
  transition: 1s;
}
.top_right_text {
  width: 200px;
  height: 50px;
  letter-spacing: 3px;
  text-align: center;
  position: absolute;
  bottom: calc(15% - 25px);
  right: calc(50% - 100px);
  color: #000;
  transition: 1s;
}

/* profile */
#profile{
  margin-top: 300px;
  padding: 80px 0;
  height: 350px;
  background-color:#E2EBED;
}
.profile_logo {
  margin-left: 10%;
  font-size: 30px;
  padding-bottom: 30px;
}
.profile_item_wrap {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
}
.profile_item {
  width: 170px;
  height: 170px;
  position: relative;
  z-index: 20;
}
.profile_item::before {
  content: "";
  width: 170px;
  height: 170px;
  transform: rotate(45deg);
  border: 1px solid #000;
  background-color: #fff;
  position: absolute;
}
.profile_item::after {
  content: "";
  width: 170px;
  height: 170px;
  transform: rotate(45deg);
  background-color: #a9a9a9;
  position: absolute;
  right: -12px;
  z-index: -1;
}
.profile_text {
  width: 100%;
  height: 100px;
  text-align: center;
  position: absolute;
  top: calc(50% - 50px);
}
.text_title {
  margin-bottom: 15px;
}
.profile_item p {
  padding-bottom: 10px;
}
.fa-heart {
  color:#dc143c;
}
.fa-image-portrait {
  color: #00bfff;
}
.fa-pencil {
  color: #228b22;
}
/* work */
#work {
 height: 800px; /*とりあえず指定 */
 background-color: #F1E9E5;
 margin-top: 300px;
}
