html {
    font-size: 62.5%;
    height: 100%;
}
* {
    box-sizing: border-box;
    font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}
/* header */
header {
    height: 770px;
    background-color: rgba(0,0,0,0.6);
    z-index: 10;
    padding-bottom: 50px;
}
nav {
    height: 50px;
    z-index: 10;
}
.header_list {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: flex-end
}
.header_list li {
    font-size: 15px;
    line-height: 50px;
    margin-left: 50px;
}

.title_wrapper {
    height: 100%;
    background-color: blue;
    text-align: center;
    display: table;
    width: 100%;
}
.title_container {
    display: table-cell;
    vertical-align: middle;
}
.header_title {
    font-size: 70px;
    letter-spacing: 3px;
}
.name {
    padding-top: 20px;
    font-size: 60px;
    letter-spacing: 3px;
}


.section-title {
    text-align: center;
    font-size: 50px;
    margin: 80px 0;
}
/* section self-introduction */
.self-introduction {
    margin-left: 5%;
    margin-right: 5%;
}
.s-introduction-wrap {
    display: flex;
}
.image-item-wrap {
    flex: 5;
}
.image-item-wrap img {
    border-radius: 50%;
}
.text-item-wrap {
    padding-left: 50px;
    flex: 5;
    text-align: left;
}
.text-item-wrap ul li {
    font-size: 16px;
    line-height: 40px;
}

/* performance */
.performance {
    margin-left: 5%;
    margin-right: 5%;
}
.introduction {
    display: flex;
    justify-content: space-between;
}
.bono-img {
    flex: 1;
}
.img-btn {
    width: 400px;
}
.img-btn:hover {
    opacity: 0.7;
    transform: translateY(-10px);
    transition: 0.4s;
}
.introduction-text {
    flex: 1;
    padding-left: 40px;
    text-align: left;
}
.introduction-text h1 {
    font-size: 20px;
    padding-bottom: 30px;
}
.text-title {
    font-size: 15px; 
    padding-bottom: 10px;
}
.introduction-text p {
    padding-bottom: 20px;
    font-size: 13px;
}
.bono-img {
    width: 100%;
}

