body {
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
/* 共通スタイル */
.title_name {
  text-align: center;
  padding-bottom: 80px;
  font-size: 40px;
  letter-spacing: 5px;
} 

/* header menu_list */
.menu_list {
  width: 100%;
  height: 200px;
  align-items: center;
  position: absolute;
  top: -220px;
  text-align: center;
  background-color: #66cdaa;
  padding: 10px 0;
  z-index: 15;
  transition: 0.4s;
}
body.open_menu .menu_list {
  top: 0px;
}
.menu_list li {
  padding: 10px 0;
  margin: 10px 0;
  font-size: 18px;
}
.fa-times {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  z-index: 20;
}
.menu_list li a:hover {
  color: #000;
  transition: 0.4s;
}
/* header header_list*/
nav {
  position: relative;
  position: fixed;
  height: 60px;
  z-index: 10;  
  width: 100%;
  background-color: rgba(0,0,0,0.8);
}
.fa-bars {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}
.header_list {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}
.header_list li {
  line-height: 60px;
  margin-left: 80px;
  font-size: 16px;
}
.header_list li a,.menu_item {
  text-decoration: none;
  color: #fff;
}
.header_list li a:hover {
  color: #00bfff;
  transition: 0.4s;
}
/* top */
.top {
  background-image: url(../img/camera-1215737_1280.jpg);
  background-size: cover;
  height: 780px;
  text-align: center;
  position: relative;
}
.main-title {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 80%;
  height: 3.2rem;
  font-size: 60px;
  letter-spacing: 5px;
}

/* introduction */
.introduction {
  padding: 100px 0 100px 0;

}
.id_content_wrap {
  width: 85%;
  margin: 0 auto;
  display: flex;
}
.id_text {
  flex: 1;
}
.id_img img {
  width: 350px;
  height: 280px;
}
.id_text:first-child {
  padding-right: 30px;
}
.id_text dl {
  padding-bottom: 30px;
}
.id_text dl dt {
  font-size: 25px;
  border-left: 10px solid #228b22;
  margin-bottom: 5px;
  padding-left: 5px;
}
.id_text dl dd {
  font-size: 20px;
  line-height: 30px;
}

/* pg_myself */
.pg_myself {
  padding: 100px 0 100px 0;
  background-color: rgba(242, 242, 242,0.8);
}
.pg_wrap {
  width: 85%;
  margin: 0 auto;
}
.pg_item_wrap {
  display: flex;
}
.skill_img_wrap {
  flex: 6;
  padding-right: 40px;
}
.skill_img {
  width: 100%;
}
.tool_wrap {
  flex: 4;
  padding-top: 30px;
}
.tool_wrap dl {
  padding-bottom: 20px;
}
.tool_wrap dt {
  border-left: 10px solid #228b22;
  font-size: 25px;
  margin-bottom: 30px;
  padding-left: 5px;
}
.tool_wrap dd {
  font-size: 20px;
  padding-bottom: 20px;
}

/* performance */
.performance {
  padding: 100px 0 100px 0;
}
.pm_wrap {
  width: 85%;
  margin: 0 auto;
  text-align: center;
}
.pm_item_title {
  letter-spacing: 3px;
  padding: 40px;
  font-size: 35px;
  text-align: center;
}
.pm_item {
  width: 100%;
  padding: 40px 0;
}
.pm_img {
  width: 100%;
  padding-bottom: 30px;
}
.lang_text {
  font-size: 18px;
  padding-bottom: 30px;
}
.pm_btn, .pg_btn {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  background-color: seagreen;
  padding: 20px 40px;
  margin-right: 20px;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.4s;
}
.pm_btn:hover , .pg_btn:hover {
  background-color: steelblue;
}



.effort {
  background-color: rgba(242, 242, 242,0.8);
  padding: 100px 0 100px 0;
}
.ef_content_wrap {
  width: 85%;
  margin: 0 auto;
}
.main_title {
  text-align: center;
  font-size: 30px;
  letter-spacing: 2px;
  padding: 50px 0 100px 0;
}
.item_title {
  font-size: 22px;
  border-left: 10px solid #66cdaa;
  padding-left: 8px;
  margin-bottom: 20px;
}
.item_text {
  font-size: 18px;
  line-height: 25px;
  padding-bottom: 30px;
}