/* 共通スタイル */
.title_name {
  text-align: center;
  padding-bottom: 80px;
  font-size: 32px;
  letter-spacing: 3px;
} 
/* header */
nav {
  position: fixed;
  background-color: rgba(0,0,0,0.8);
  height: 60px;
  z-index: 10;  
  width: 100%;
}
.header_list {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}
.header_list li {
  line-height: 60px;
  margin-left: 80px;
  font-size: 16px;
}
.header_list li a {
  text-decoration: none;
  color: #fff;
}
.header_list li a:hover {
  color: #00bfff;
  transition: 0.4s;
}

/* top */
.top {
  background-image: url(../img/camera-1215737_1280.jpg);
  background-size: cover;
  height: 780px;
  text-align: center;
  position: relative;
}
.main-title {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 80%;
  height: 3.2rem;
  font-size: 60px;
  letter-spacing: 5px;
}

/* introduction */
.introduction {
  padding: 100px 0 100px 0;
}
.id_content_wrap {
  width: 85%;
  margin: 0 auto;
  display: flex;
}
.id_img img {
  width: 350px;
  height: 280px;
}
.id_img {
  text-align: center;
  flex: 5;
  padding-right: 20px;
}
.id_text {
  flex: 5;
}
.id_text dl {
  padding-bottom: 20px;
}
.id_text dl dt {
  padding-bottom: 5px;
}
.id_text dl dd {
  font-size: 17px;
  line-height: 20px;
}

/* performance */
.performance {
  padding: 100px 0 100px 0;
  background-color: rgba(242, 242, 242,0.8);
}
.pm_wrap {
  width: 85%;
  margin: 0 auto;
  text-align: center;
}
.pm_item_title {
  padding: 40px;
  font-size: 22px;
  text-align: center;
}
.pm_item {
  width: 100%;
}
.pm_item:first-child {
  padding-bottom: 80px;
}
.pm_img {
  width: 100%;
  padding-bottom: 40px;
}
.todo_details {
  text-align: center;
  padding-bottom: 60px;
}
.todo_details li {
  font-size: 20px;
  padding-top: 20px;
}
.pm_btn {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  background-color: seagreen;
  padding: 20px 40px;
  margin: 50px 20px 0 0;
  cursor: pointer;
  border-radius: 8px;
}
.pm_btn:hover {
  background-color: steelblue;
  transition: 0.4s;
}

/* pg_myself */
.pg_myself {
  padding: 100px 0 100px 0;
}