@media screen and (max-width: 1000px) {
  .fa-bars {
    display: block;
  }
  .header_list {
    display: none;
    letter-spacing: 3px;
  }
}

@media screen and (max-width: 450px) {
  .main_title {
    font-size: 20px;
    letter-spacing: 0px;
  }
  .item_title {
    font-size: 15px;
  }
  .item_text {
    font-size: 13px;
    line-height: 20px;
  }
}