@media screen and (max-width: 1020px) {
  .main-title {
    font-size: 25px;
  }
  .fa-bars {
    display: block;
  } 
  .question_list {
    padding: 30px 80px;
  }
  .question a {
    font-size: 15px;
  }
  .a_wrap {
    display: block;
  }
  .a_text , .q_text {
    font-size: 15px;
  }
  .a_text {
    padding-left: 0;
    padding-top: 10px;
  }
  .q_wrap {
    padding-bottom: 20px;
  }
  .q_text {
    padding-right: 10px;
  }
  .user_img {
    padding-right: 0;
  }
}
@media screen and (max-width: 620px) {
  .main-title {
    font-size: 18px;
    letter-spacing: 2px;
  }
  .header_list li a {
    font-size: 14px;
  }
  .question_list {
    padding: 30px 50px;
  }
} 

@media screen and (max-width: 400px) {
  .pm_btn {
    display: block;
    margin-bottom: 10px;
  }
  .q_and_a_title {
    font-size: 20px;
  }
  .a_logo {
    font-size: 20px;
  }
  .q_logo {
    font-size: 20px;
  }
}